div.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
}

img.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: auto;
  min-height: auto;
  opacity: 1;
}
p.header {
	position: fixed;
	font-size: 48pt;
	text-align: center;
	font-family: Brush Script MT;
}
.main-body {
	position: absolute;
	top: 80px;
	left: 400px;
	text-align: center;
	width: 60%;
	font-size: 25pt;
	color: black;
	font-family: Courier New;
}
img.me {
	position: absolute;
	top: 50px;
	left: 10px;
	width: 18em;
	height: auto;
}
