body {
	background: gold;
}
p.header {
	font-size: 48pt;
	text-align: center;
	font-family: Brush Script MT;
}
.main-body {
	text-align: center;
	width: 75%;
	font-size: 25pt;
	color: black;
	font-family: Courier New;
}
img {
	position: absolute;
	top: 7em;
	left: 2em;
	width: 18em;
	height: auto;
}
